@use "@carbon/react";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$black: #2e2e2e;
html,
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
.txtF {
  color: #2e2e2e !important;
  font-weight: 500;
}
.xrd{
  padding-bottom: 24px;
}
.growthPadd {
  padding-left: 40px;
}
.btnCL {
  background: #f5f5f5;
  width: auto;
  display: flex;
  img {
    padding-left: 15px;
  }
  p {
    padding: 15px;
    padding-right: 36px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
}
.nav {
  background-color: #fff;
  height: 94px;
}
.mobNav {
  background-color: #fff;
  height: 80px;
  .mnba {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    .nma {
      padding-top: 4px;
    }
  }
}
.srv {
  padding-top: 40px;
  padding-bottom: 40px;
  .pfr {
    cursor: pointer;
    padding: 12px;
    background-color: #f5f5f5;
    width: 280px;
    margin-bottom: 4px;
  }
  .pfrs {
    cursor: pointer;
    padding: 12px;
    background-color: #f5f5f5;
    width: 280px;
    border-bottom: 2px solid #0065ff;
    margin-bottom: 4px;
  }
}
.cardsd {
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 16px;

  img {
    width: 360px;
    height: auto;
  }
  .mnt {
    background-color: #f5f5f5;
    width: 360px;
    padding: 24px;
    div {
      padding-top: 12px;
    }
  }
}
.navpc {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  justify-content: space-between;

  img {
    padding-right: 24px;
  }
  span {
    padding-right: 24px;
    display: flex;
    align-items: center;
  }
  .lgtxt {
    display: flex;
    align-items: center;
  }
}

.btns {
  color: #2e2e2e !important;
}
.btnss {
  background: #e6f0ff;
  color: #0065ff;

  border: 2px solid #e6f0ff;
}
.started {
  min-height: 400px;
  background-color: #0065ff;
}
.resources {
  min-height: 400px;
  background-color: rgb(74, 56, 56);
}
.news {
  min-height: 400px;
  background-color: #fff;
}
.trust {
  min-height: 400px;
  background-color: #fff;
}
.work {
  min-height: 850px;
  background-color: #f5f5f5;
}
.workss {
  min-height: 950px;
  background-color: #f5f5f5;
}
.trst {
  padding-top: 100px;
  padding-bottom: 100px;
  div {
    padding-top: 50px;
  }
}
.trsty {
  padding-top: 100px;
  padding-bottom: 8px;
  div {
    padding-top: 50px;
  }
}
.herol {
  background-color: #f5f5f5;
}
.btmd {
  padding-top: 50px;
  padding-bottom: 100px;
}
.caro {
  padding-top: 60px;
  padding-bottom: 100px;
}
.slick-track {
  div {
    padding-right: 12px;
  }
}
.wcard {
  min-height: 360px;
  width: 300px !important;
  margin-right: 12px;
  background-color: #fff;

  .inner {
    padding: 20px;
    .para {
      padding-top: 130px;
    }
    .btn {
      padding-top: 130px;
    }
  }
}
.rcard {
  min-height: 400px;
  width: 380px !important;
  margin-right: 12px;
  background-color: #fff;

  .inner {
    padding: 20px;
    .title {
      text-align: center;

      div {
        width: 55px;
        height: 24px;
        padding: 2px;

        /* Foundation/Panoramic Blue/P50 */

        background: #e6f0ff;
        border-radius: 24px;
      }
    }
    .para {
      padding-top: 16px;
    }
    .btn {
      padding-top: 130px;
    }
  }
}
.trstcont {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  svg {
    cursor: pointer;
  }
}
.stay {
  padding-top: 100px;
  div {
    padding-top: 8px;
  }
}
.footer {
  min-height: 300px;
  background-color: #0d0d0d;
}
.strt {
  padding-top: 150px;
  padding-bottom: 150px;
  .redy {
    padding-bottom: 40px;
  }
  .talk {
    padding-top: 20px;
  }
}
.foot {
  display: flex;
  justify-content: space-between;
  .flogo {
    width: 280px;
  }
  .ftext {
    width: 50%;
  }
  div {
    margin-bottom: 40px;
  }
  padding-top: 80px;
}
.frl {
  display: grid;
  span {
    padding-bottom: 4px;
  }
}
.play {
  width: 100%;

  min-height: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
  .Player {
    background: #f5f5f5;
    display: flex;
    .imgg {
      img {
        width: 700px;
        height: 500px;
      }
    }
    .right {
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 40px;
      svg {
        padding-left: 12px;
      }
      .rte {
        padding-left: 20px;
        padding-right: 50px;
        padding-top: 12px;
      }
      .pte {
        .pre {
          display: flex;
          padding-left: 20px;
          padding-right: 50px;
          padding-top: 96px;
          .txt {
            padding-left: 20px;
            padding-top: 12px;
          }
          img {
            border-radius: 171px;
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }
}
.cds--text-input {
  border-bottom: 0px !important;
}
.rightd {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}
.pdfs {
  padding-right: 40px;
  img {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .desc{
    padding-right: 50px;
  }
}
.heros {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 56px;
  padding-bottom: 56px;
  img {
    width: 100%;
  }
}
.contct {
  min-height: 600px;
  background-color: #f5f5f5;
}
.vbfd {
  padding-top: 100px;
  padding-bottom: 100px;
}
.cnvc {
  div {
    padding-bottom: 16px;
  }
  .cxz {
    display: flex;
    justify-content: space-between;
    div {
      padding-bottom: 2px;
    }
  }
}
.scial {
  svg {
    margin-left: 8px;
  }
}
.cntbx {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.btncopy {
  margin-left: 4px;
  width: 59px;
  height: 32px;
  cursor: pointer;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;
  color: #0065ff;
  background: #e6f0ff;
}
.growth {
  padding-top: 100px;
  background-color: #f5f5f5;
  padding-bottom: 100px;
}
.LearnMoreAssesment {
  padding-top: 100px;
  background-color: #fff;
  padding-bottom: 100px;
}
.overview {
  padding-top: 100px;
  padding-bottom: 100px;
}
.overText {
  width: 80%;
}
.addr {
  min-height: 100px;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 16px;
  width: 60%;
  div {
    padding-top: 2px;
  }
}
.serveBus {
  background-color: #f5f5f5;
  padding-bottom: 100px;
}
.serveBusKnowledge{
  background-color: #FFFFFF;
  padding-bottom: 100px;
}
.abthero {
  width: 100%;
  height: 550px;
  background-image: url("/aboutHero.png");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center;
  .abtp {
    padding-top: 300px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    color: #ffffff;
  }
}
.serheroBus {
  width: 100%;
  height: 550px;
  background-image: url("/BusinessHero.png");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
}
.headerBar{
  border: 1px solid #EBEBEB;
  height: 100%;
  margin-right: 20px;
}
.serheroService {
  width: 100%;
  height: 550px;
  background-image: url("/serviceHero.png");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
}
.serheroCFO {
  width: 100%;
  height: 550px;
  background-image: url("/fractionalCFOHeader.png");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
}
.serhero {
  width: 100%;
  height: 550px;
  background-image: url("/service.png");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
}
.serheroser{
  width: 60%;
  padding-top: 60px;
}
.abtValues {
  min-height: 500px;
  background-color: #fff;
}
.faqa {
  padding-top: 40px;
}
.cmncard {
  background-color: #0065ff;
  width: 70%;
  padding: 24px;
  .btrn {
    margin: 12px 12px 0px 12px;
    text-align: center;
    background: #ffffff;
    border-radius: 50px;
    div {
      padding: 12px;
    }
  }
}
.coreCard {
  background-image: url("/integrity.png");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
  .crs {
    padding: 12px;
    height: 100%;
    display:inline-grid;
    div{
      padding-bottom:'12px'
    }
    .vbr{
      display:inline-grid;
      align-items:end;
    }
  }
}
.coreCardL {
  background-image: url("/learning.png");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
  .crs {
    padding: 12px;
    height: 100%;
    display:inline-grid;
    div{
      padding-bottom:'12px'
    }
    .vbr{
      display:inline-grid;
      align-items:end;
    }
  }
}
.coreCardR {
  background-image: url("/relationship.png");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
  .crs {
    padding: 12px;
    height: 100%;
    display:inline-grid;
    div{
      padding-bottom:'12px'
    }
    .vbr{
      display:inline-grid;
      align-items:end;
    }
  }
}
.coreCardI {
  background-image: url("/ineguilty.png");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
  .crs {
    padding: 12px;
    height: 100%;
    display:inline-grid;
    div{
      padding-bottom:'12px'
    }
    .vbr{
      display:inline-grid;
      align-items:end;
    }
  }
}
.abtprofile {
  background-color: #f5f5f5;
  min-height: 400px;
  .anb {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.pdsa {
  padding-top: 24px;
}
.abtTeam {
  background-color: #fff;
  min-height: 800px;
}
.faq {
  min-height: 700px;
  background-color: #f5f5f5;

  .fra {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.crrs {
  width: 70%;
}
.team {
  padding: 8px;
  width: 100%;
  img {
    width: 100%;
  }
  .tms {
    padding-top: 8px;
    div {
      padding-top: 8px;
    }
  }
}
.onboards {
  background-color: #fafafa;
  height: 100vh;
}
.onBScroll {
  margin-top: 24px;
  height: 78vh;
  overflow: hidden;
  background-color: #fafafa;
}
.onbar {
  padding-top: 24px;
  background-color: #fafafa;
  padding-bottom: 48px;
  margin-right: -50px; /* Maximum width of scrollbar */
  padding-right: 50px;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
    display: none !important;
  }
  .card {
    background-color: #fff;
    padding: 40px;
    box-shadow: 2px 3px 9px rgba(169, 169, 169, 0.24);
    margin-bottom: 16px;
    .options {
      padding-top: 24px;
      .opt {
        margin-top: 8px;
        background-color: #f5f5f5;
        padding: 8px;
        width: 100%;
      }
    }
    .bar {
      width: 100%;
      margin-top: 40px;
      border: 1px solid #ebebeb;
    }
  }
}
.onbInput {
  padding-top: 24px;
  padding-bottom: 48px;
  margin-right: -50px; /* Maximum width of scrollbar */
  padding-right: 50px;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
    display: none !important;
  }
  .oninn {
    padding-top: 24px;
    display: flex;
    div {
      margin-right: 24px;
    }
    .on25 {
      width: 25%;
      div {
        width: 100%;
      }
    }
    .on75 {
      width: 75%;
      div {
        width: 100%;
      }
    }
  }
  .onin {
    padding-top: 24px;
  }
}
.onbBtn {
  button {
    margin-right: 8px;
  }
}
.onbUserProfileBtn {
  padding-top: 60px;
  div {
    padding-top: 12px;
  }
}
.onbHead {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}
.onbh {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 3px 9px rgba(169, 169, 169, 0.24);
}
.progressOnb {
  padding-bottom: 32px;
}
.ptl {
  background-color: #f5f5f5;
  width: 100%;
  height: 150vh;
  padding-bottom: 100px;
}
.PortalLayout {
  width: 250px;
  position: fixed;
  height: 100vh;
  background-color: #fff;
  border: 1px solid #dedede;
  .Playout {
    padding: 20px;
    .services {
      padding-top: 10px;
      .usa {
        .userPro {
          background-color: #e6f0ff;
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          .usp {
            display: flex;

            .userMargin {
              margin-left: 16px;
              div {
                margin-left: 16px;
              }
              border-radius: 50px;
              height: 48px;
            }
          }
        }
      }
      .serve {
        .ser {
          padding-top: 16px;
          padding-bottom: 16px;
          display: flex;
          img {
            padding: 4px;
          }
          span {
            padding: 4px;
          }
          div {
            display: flex;
            align-items: center;
          }
        }
        .liness {
          margin-top: 16px;
          border: 1px solid #bfbfbf;
          width: 100%;
        }
      }
      .servess {
        padding-left: 12px;
        .ser {
          padding-top: 16px;
          padding-bottom: 16px;
          display: flex;
          img {
            padding: 4px;
          }
          span {
            padding: 4px;
          }
          div {
            display: flex;
            align-items: center;
          }
        }
        .liness {
          margin-top: 16px;
          border: 1px solid #bfbfbf;
          width: 100%;
        }
      }
    }
    .lgSec {
      .liness {
        border: 1px solid #bfbfbf;
        width: 100%;
      }
      .lgo {
        padding-bottom: 10px;
      }
    }
  }
}
.portalHeader {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 80px;
  width: calc(100% - 250px);
  position: fixed;
  right: 0;
  z-index: 99;
  .textHeader {
    padding-top: 24px;
    padding-left: 40px;
  }
  .icn {
    padding-top: 24px;
    padding-right: 40px;
  }
}
.userInfoFixed {
  padding-top: 160px;
  display: flex;
  .profileInfo {
    padding-top: 28px;
    padding-left: 36px;
    .type {
      background-color: #ebebeb;
      padding: 4px 8px;
      width: fit-content;
      border-radius: 24px;
      margin-top: 6px;
    }
  }

  .profileImage {
    label {
      div {
        overflow: hidden;
        width: fit-content;
        border-radius: 50%;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0.4) 22.5%,
          rgba(0, 0, 0, 0) 34.69%,
          rgba(0, 0, 0, 0) 180%
        );
        img {
          border-radius: 50%;
          height: 140px;
          width: auto;
        }
      }
    }
  }
}
.userTabs {
  padding-top: 60px;
}
.cds--tabs .cds--tabs__nav-item--selected {
  color: #0f62fe;
  background-color: #e6f0ff;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.cds--tabs .cds--tabs__nav-item + .cds--tabs__nav-item {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.cds--tabs .cds--tabs__nav-link:focus {
  outline: none;
}
.cds--tab-content:focus {
  outline: none;
}
.custom_container {
  width: 1000px;
  margin-left: 280px;
}
.onPScroll {
  .onpInput {
    .oninn {
      padding-top: 24px;
      display: flex;
      div {
        margin-right: 24px;
      }
      .on25 {
        width: 25%;
        div {
          width: 100%;
        }
      }
      .on75 {
        width: 75%;
        div {
          width: 100%;
        }
      }
    }
    .onin {
      padding-top: 24px;
    }
  }
}
.assTab {
  padding-top: 24px;
}
.asstabtable {
  padding-top: 24px;
}
.innerPortal {
  padding-top: 130px;
  padding-left: 280px;
  padding-right: 30px;
}
.cardFullDashboard {
  background-color: #fff;
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  .lty {
    display: flex;
    align-items: center;
  }
  .txtCardFullDash {
    padding-left: 32px;
    padding-top: 32px;
    div {
      padding-bottom: 12px;
      max-width: 500px;
    }
    button {
      margin-top: 32px;
    }
  }
}
.quarterArea {
  display: flex;
  justify-content: space-between;
  .cardQuarterDashboard {
    width: 32%;
    height: 460px;
    background-color: #fff;
  }
}
.planCard {
  padding: 20px;
  opacity: 0.6;
  .lineHeader {
    border: 1px solid #ebebeb;
    width: 100%;
    margin-top: 8px;
  }
  .headerPlan {
    display: flex;
    align-items: center;
    span {
      padding-left: 8px;
    }
  }
  .contentCard {
    display: flex;
    align-items: center;
    min-height: 250px;
    div {
      padding-left: 24px;
      width: 50%;
    }
  }
}
.userCard {
  padding: 20px;
  opacity: 0.6;
  .lineHeader {
    border: 1px solid #ebebeb;
    width: 100%;
    margin-top: 8px;
  }
  .headerPlan {
    display: flex;
    align-items: center;
    span {
      padding-left: 8px;
    }
  }
  .contentCard {
    display: flex;
    align-items: center;
    min-height: 250px;
    div {
      padding-left: 24px;
      width: 50%;
    }
  }
}
.consultCard {
  padding: 20px;
  opacity: 0.6;
  .lineHeader {
    border: 1px solid #ebebeb;
    width: 100%;
    margin-top: 8px;
  }
  .headerPlan {
    display: flex;
    align-items: center;
    span {
      padding-left: 8px;
    }
  }
  .contentCard {
    display: flex;
    align-items: center;
    min-height: 250px;
    div {
      padding-left: 24px;
      width: 50%;
    }
  }
}
.hsecassbg{
  background-color: #F5F5F5;
}
.hsecAssesment{
  padding-top: 100px;
  padding-bottom: 200px;
}
.hbrss{
  display: flex;
    justify-content: end;
    padding-top: 60px;
}
.assesDisplay{
  position: relative;
  bottom: 100px;
  padding-left: 40px;
  width: 100%;
  padding-right: 40px;
  img{
    width: 100%;
  }
}
.assesSection3{
  padding-top: 100px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 1180px) {
  .srv {
    padding-top: 40px;
    padding-bottom: 40px;
    .pfr {
      padding: 12px;
      background-color: #f5f5f5;
      width: 100%;
      margin-bottom: 4px;
    }
    .pfrs {
      padding: 12px;
      background-color: #f5f5f5;
      width: 100%;
      border-bottom: 2px solid #0065ff;
      margin-bottom: 4px;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .play {
    width: 100%;

    min-height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    .Player {
      background: #f5f5f5;
      display: flex;
      .imgg {
        img {
          width: 500px;
          height: 350px;
        }
      }
      .right {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 40px;
        svg {
          padding-left: 12px;
        }
        .rte {
          padding-left: 20px;
          padding-right: 50px;
          padding-top: 12px;
        }
        .pte {
          .pre {
            display: flex;
            padding-left: 20px;
            padding-right: 50px;
            padding-top: 48px;
            .txt {
              padding-left: 20px;
              padding-top: 12px;
            }
            img {
              border-radius: 171px;
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .cntbx {
    display: block;
  }
  .addr {
    width: 100%;
  }
  .growthPadd {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 938px) {
  .play {
    width: 100%;

    min-height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    .Player {
      background: #f5f5f5;
      display: flex;
      .imgg {
        img {
          width: 400px;
          height: 330px;
        }
      }
      .right {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 40px;
        svg {
          padding-left: 12px;
        }
        .rte {
          padding-left: 20px;
          padding-right: 50px;
          padding-top: 12px;
        }
        .pte {
          .pre {
            display: flex;
            padding-left: 20px;
            padding-right: 50px;
            padding-top: 48px;
            .txt {
              padding-left: 20px;
              padding-top: 12px;
            }
            img {
              border-radius: 171px;
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 892px) {
  .overText {
    width: 100%;
  }
  .play {
    width: 100%;

    min-height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
    .Player {
      background: #f5f5f5;
      display: block;
      .imgg {
        img {
          width: 100%;
          height: auto;
        }
      }
      .right {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 40px;
        svg {
          padding-left: 12px;
        }
        .rte {
          padding-left: 20px;
          padding-right: 50px;
          padding-top: 12px;
        }
        .pte {
          .pre {
            display: flex;
            padding-left: 20px;
            padding-right: 50px;
            padding-top: 48px;
            padding-bottom: 48px;
            .txt {
              padding-left: 20px;
              padding-top: 12px;
            }
            img {
              border-radius: 171px;
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .foot {
    display: block;
    padding-bottom: 30px;
    .flogo {
      width: 100%;
    }
    .ftext {
      width: 100%;
    }
  }
  .rightd {
    padding-top: 32px;
  }
  .stay {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .trstcont {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    padding-top: 40px;
    svg {
      cursor: pointer;
    }
  }
  .srv {
    padding-top: 40px;
    padding-bottom: 40px;
    .pfr {
      padding: 12px;
      background-color: #f5f5f5;
      width: 100%;
      margin-bottom: 4px;
      cursor: pointer;
    }
    .pfrs {
      padding: 12px;
      cursor: pointer;
      background-color: #f5f5f5;
      width: 100%;
      border-bottom: 2px solid #0065ff;
      margin-bottom: 4px;
    }
  }
  .cardsd {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;

    img {
      width: 320px;
      height: auto;
    }
    .mnt {
      background-color: #f5f5f5;
      width: 320px;
      padding: 24px;
      div {
        padding-top: 12px;
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .xcd {
    padding-top: 40px;
  }
  .cmncard {
    background-color: #0065ff;
    width: 100%;
    padding: 24px;
    .btrn {
      margin: 12px 12px 0px 12px;
      text-align: center;
      background: #ffffff;
      border-radius: 50px;
      div {
        padding: 12px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
.abthero {

  .abtp {
    padding-top: 230px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
  }
}
}