@use "@carbon/react";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$black: #2e2e2e;
html,
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
.txtF {
  color: #2e2e2e !important;
  font-weight: 500;
}

.btnCL {
  background: #f5f5f5;
  width: auto;
  display: flex;
  img {
    padding-left: 15px;
  }
  p {
    padding: 15px;
    padding-right: 36px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
}
.nav {
  background-color: #fff;
  height: 94px;
}
.mobNav {
  background-color: #fff;
  height: 80px;
  .mnba {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    .nma {
      padding-top: 4px;
    }
  }
}
.srv {
  padding-top: 40px;
  padding-bottom: 40px;
  .pfr {
    padding: 12px;
    background-color: #f5f5f5;
    width: 280px;
    margin-bottom: 4px;
  }
  .pfrs {
    padding: 12px;
    background-color: #f5f5f5;
    width: 280px;
    border-bottom: 2px solid #0065ff;
    margin-bottom: 4px;
  }
}
.cardsd {
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 16px;

  img {
    width: 360px;
    height: auto;
  }
  .mnt {
    background-color: #f5f5f5;
    width: 360px;
    padding: 24px;
    div {
      padding-top: 12px;
    }
  }
}
.navpc {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  justify-content: space-between;

  img {
    padding-right: 24px;
  }
  span {
    padding-right: 24px;
    display: flex;
    align-items: center;
  }
  .lgtxt {
    display: flex;
    align-items: center;
  }
}

.btns {
  color: #2e2e2e !important;
}
.btnss {
  background: #e6f0ff;
  color: #0065ff;

  border: 2px solid #e6f0ff;
}
.started {
  min-height: 400px;
  background-color: #0065ff;
}
.resources {
  min-height: 400px;
  background-color: rgb(74, 56, 56);
}
.news {
  min-height: 400px;
  background-color: #fff;
}
.trust {
  min-height: 400px;
  background-color: #fff;
}
.work {
  min-height: 850px;
  background-color: #f5f5f5;
}
.workss {
  min-height: 950px;
  background-color: #f5f5f5;
}
.trst {
  padding-top: 100px;
  div {
    padding-top: 50px;
  }
}
.herol {
  background-color: #f5f5f5;
}
.btmd {
  padding-top: 50px;
  padding-bottom: 100px;
}
.caro {
  padding-top: 60px;
}
.slick-track {
  div {
    padding-right: 12px;
  }
}
.wcard {
  min-height: 360px;
  width: 300px;
  margin-right: 12px;
  background-color: #fff;

  .inner {
    padding: 20px;
    .para {
      padding-top: 16px;
    }
    .btn {
      padding-top: 130px;
    }
  }
}
.rcard {
  min-height: 400px;
  width: 380px !important;
  margin-right: 12px;
  background-color: #fff;

  .inner {
    padding: 20px;
    .title {
      text-align: center;

      div {
        width: 55px;
        height: 24px;
        padding: 2px;

        /* Foundation/Panoramic Blue/P50 */

        background: #e6f0ff;
        border-radius: 24px;
      }
    }
    .para {
      padding-top: 16px;
    }
    .btn {
      padding-top: 130px;
    }
  }
}
.trstcont {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  svg {
    cursor: pointer;
  }
}
.stay {
  padding-top: 100px;
  div {
    padding-top: 8px;
  }
}
.footer {
  min-height: 300px;
  background-color: #0d0d0d;
}
.strt {
  padding-top: 150px;
  padding-bottom: 150px;
  .redy {
    padding-bottom: 40px;
  }
  .talk {
    padding-top: 20px;
  }
}
.foot {
  display: flex;
  justify-content: space-between;
  .flogo {
    width: 280px;
  }
  .ftext {
    width: 50%;
  }
  div {
    margin-bottom: 40px;
  }
  padding-top: 80px;
}
.frl {
  display: grid;
  span {
    padding-bottom: 4px;
  }
}
.play {
  width: 100%;

  min-height: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
  .Player {
    background: #f5f5f5;
    display: flex;
    .imgg {
      img {
        width: 700px;
        height: 500px;
      }
    }
    .right {
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 40px;
      svg {
        padding-left: 12px;
      }
      .rte {
        padding-left: 20px;
        padding-right: 50px;
        padding-top: 12px;
      }
      .pte {
        .pre {
          display: flex;
          padding-left: 20px;
          padding-right: 50px;
          padding-top: 96px;
          .txt {
            padding-left: 20px;
            padding-top: 12px;
          }
          img {
            border-radius: 171px;
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }
}
.cds--text-input {
  border-bottom: none;
}
.rightd {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}
.pdfs {
  img {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  div {
    padding-bottom: 20px;
  }
}
.heros {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 56px;
  padding-bottom: 56px;
  img {
    width: 100%;
  }
}
@media only screen and (max-width: 1180px) {
  .srv {
    padding-top: 40px;
    padding-bottom: 40px;
    .pfr {
      padding: 12px;
      background-color: #f5f5f5;
      width: 100%;
      margin-bottom: 4px;
    }
    .pfrs {
      padding: 12px;
      background-color: #f5f5f5;
      width: 100%;
      border-bottom: 2px solid #0065ff;
      margin-bottom: 4px;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .play {
    width: 100%;

    min-height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    .Player {
      background: #f5f5f5;
      display: flex;
      .imgg {
        img {
          width: 500px;
          height: 350px;
        }
      }
      .right {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 40px;
        svg {
          padding-left: 12px;
        }
        .rte {
          padding-left: 20px;
          padding-right: 50px;
          padding-top: 12px;
        }
        .pte {
          .pre {
            display: flex;
            padding-left: 20px;
            padding-right: 50px;
            padding-top: 48px;
            .txt {
              padding-left: 20px;
              padding-top: 12px;
            }
            img {
              border-radius: 171px;
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 938px) {
  .play {
    width: 100%;

    min-height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    .Player {
      background: #f5f5f5;
      display: flex;
      .imgg {
        img {
          width: 400px;
          height: 330px;
        }
      }
      .right {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 40px;
        svg {
          padding-left: 12px;
        }
        .rte {
          padding-left: 20px;
          padding-right: 50px;
          padding-top: 12px;
        }
        .pte {
          .pre {
            display: flex;
            padding-left: 20px;
            padding-right: 50px;
            padding-top: 48px;
            .txt {
              padding-left: 20px;
              padding-top: 12px;
            }
            img {
              border-radius: 171px;
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 892px) {
  .play {
    width: 100%;

    min-height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
    .Player {
      background: #f5f5f5;
      display: block;
      .imgg {
        img {
          width: 100%;
          height: auto;
        }
      }
      .right {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 40px;
        svg {
          padding-left: 12px;
        }
        .rte {
          padding-left: 20px;
          padding-right: 50px;
          padding-top: 12px;
        }
        .pte {
          .pre {
            display: flex;
            padding-left: 20px;
            padding-right: 50px;
            padding-top: 48px;
            padding-bottom: 48px;
            .txt {
              padding-left: 20px;
              padding-top: 12px;
            }
            img {
              border-radius: 171px;
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 780px) {
  .foot{
    display: block;
    padding-bottom: 30px;
    .flogo{
      width: 100%;
    }
   .ftext {
     width: 100%;
  }
  }
  .rightd{
    padding-top: 32px;
  }
  .stay{
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .trstcont {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    padding-top: 40px;
    svg {
      cursor: pointer;
    }
  }
  .srv {
    padding-top: 40px;
    padding-bottom: 40px;
    .pfr {
      padding: 12px;
      background-color: #f5f5f5;
      width: 100%;
      margin-bottom: 4px;
    }
    .pfrs {
      padding: 12px;
      background-color: #f5f5f5;
      width: 100%;
      border-bottom: 2px solid #0065ff;
      margin-bottom: 4px;
    }
  }
  .cardsd {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;

    img {
      width: 320px;
      height: auto;
    }
    .mnt {
      background-color: #f5f5f5;
      width: 320px;
      padding: 24px;
      div {
        padding-top: 12px;
      }
    }
  }
}
