.bg {
	background-color: #0065ff;
	height: 100vh;
	width: 100vw;
}
.pd {
	height: 100%;
    display: flex;
    align-items: center
}
.pdt {
    margin: 0 ;
	width: 500px;
}
.cont{
    padding-left: 30px;
}
.cont1{
	padding-top: 20px;
	width: 60%;
}
.txtc{
	padding-bottom: 8px;
}
.txtcc{
	padding-top: 8px;
}
.txtcc{
	padding-top: 12px;
}